* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
}

canvas {
  background: #ebebeb;
  display: block;
  margin: 0 auto;
}

body {
  margin-top: 1rem;
}

.instructions {
  margin-top: 2rem;
  text-align: center;
}
